<a href="https://colab.research.google.com/github/AhmedGaber98/AhmedGaber43-4881/blob/main/linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as pyplot
import numpy as np,matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures

from sklearn.model_selection import cross_val_score
from sklearn.pipeline import Pipeline

%matplotlib inline

In [2]:
from sklearn.datasets import load_boston

In [3]:
boston=load_boston()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [4]:
boston.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [5]:
data = pd.DataFrame(boston.data,columns = boston.feature_names)
data['target']= boston.target

In [6]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [7]:
data.tail()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [8]:
scaler = StandardScaler()
scaler.fit(data.drop('target',axis=1))
scaled_features = scaler.transform(data.drop('target',axis=1))

In [9]:
trans = PolynomialFeatures(degree=1)
data_new= trans.fit_transform(scaled_features)
data_new_df = pd.DataFrame(data_new,columns= ["bias","CRIM","ZN","INDUS","CHAS","NOX","RM","AGE","DIS","RAD","TAX","PTRATIO","B","LSTAT"])
data_new_df.head()

,bias,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,1.0,-0.419782,0.284830,-1.287909,-0.272599,-0.144217,0.413672,-0.120013,0.140214,-0.982843,-0.666608,-1.459000,0.441052,-1.075562
1,1.0,-0.417339,-0.487722,-0.593381,-0.272599,-0.740262,0.194274,0.367166,0.557160,-0.867883,-0.987329,-0.303094,0.441052,-0.492439
2,1.0,-0.417342,-0.487722,-0.593381,-0.272599,-0.740262,1.282714,-0.265812,0.557160,-0.867883,-0.987329,-0.303094,0.396427,-1.208727
3,1.0,-0.416750,-0.487722,-1.306878,-0.272599,-0.835284,1.016303,-0.809889,1.077737,-0.752922,-1.106115,0.113032,0.416163,-1.361517
4,1.0,-0.412482,-0.487722,-1.306878,-0.272599,-0.835284,1.228577,-0.511180,1.077737,-0.752922,-1.106115,0.113032,0.441052,-1.026501

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data_new_df,data['target'],test_size=0.2,train_size=0.8)
#x_train, x_cv, y_train, y_cv = train_test_split(x,y,test_size = 0.25,train_size =0.75)

In [20]:
x_train

,bias,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
191,1.0,-0.412475,1.443658,-1.123032,-0.272599,-1.016689,0.647316,-1.343297,1.276251,-0.523001,-0.060801,-1.505237,0.362218,-1.116213
55,1.0,-0.418992,3.375039,-1.446951,-0.272599,-1.310392,1.373892,-1.659786,2.330049,-0.523001,-1.082358,-0.256858,0.430417,-1.099392
479,1.0,1.247542,-0.487722,1.015999,-0.272599,0.512296,-0.079260,0.690768,-0.876506,1.661245,1.530926,0.806576,0.292156,0.064051
280,1.0,-0.416354,0.370669,-1.139082,-0.272599,-0.965723,2.187372,-0.144906,0.427669,-0.523001,-1.141751,-1.643945,0.335904,-1.246574
208,1.0,-0.404706,-0.487722,-0.079780,3.668398,-0.567496,-0.314329,-0.336933,0.211139,-0.637962,-0.779455,0.066796,0.270227,0.281320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,1.0,1.236195,-0.487722,1.015999,-0.272599,1.194724,0.083151,1.117494,-1.055768,1.661245,1.530926,0.806576,0.441052,1.074704
391,1.0,0.195452,-0.487722,1.015999,-0.272599,1.255192,-0.332849,0.495184,-0.773541,1.661245,1.530926,0.806576,0.237992,0.856032
152,1.0,-0.289414,-0.487722,1.231945,3.668398,2.732346,-1.813070,0.690768,-1.038607,-0.523001,-0.031105,-1.736418,-0.146857,-0.074721
436,1.0,1.257678,-0.487722,1.015999,-0.272599,1.600725,0.251261,0.879239,-0.852072,1.661245,1.530926,0.806576,-3.609292,0.756509
222,1.0,-0.347952,-0.487722,-0.720322,3.668398,-0.412006,0.846768,0.324494,-0.248591,-0.178120,-0.601276,-0.488039,0.369674,-0.381702

In [21]:
y_train

191    30.5
55     35.4
479    21.4
280    45.4
208    24.4
       ...
401     7.2
391    23.2
152    15.3
436     9.6
222    27.5
Name: target, Length: 404, dtype: float64

In [12]:

def hypothesis (j):  # array of no (j)
    x_new = pd.DataFrame() # read data 
    for k in range (14): 
        feature_name = feature_name_list[k] # column 
        x_new.insert(k, feature_name, np.power(x_train.iloc[:,k],j[k]), True) # take each element column  to the power of j 
    return x_new

In [13]:
def regression_model (x):
    model= LinearRegression()
#     model.fit(x,y_train)
    # y_pred1=model.predict(x_cv)
    scores = cross_val_score(model,x,y_train,scoring = 'r2', cv=4)
    mse_scores =  cross_val_score(model,x,y_train,scoring = 'neg_mean_squared_error', cv=4)
    return scores.mean() , mse_scores.mean()

In [45]:
feature_name_list = ["bias","CRIM","ZN","INDUS","CHAS","NOX","RM","AGE","DIS","RAD","TAX","PTRATIO","B","LSTAT"]

    
j1 = [0,1,2,3,4,5,6,7,8,9,10,11,12,13]
j2 = [0,1,1,1,1,1,1,1,1,1,1,1,1,1]
j3 = [0,1,13,2,12,3,11,4,10,5,9,6,8,7]
j4 = [0,2,4,6,8,10,12,13,1,3,5,7,9,11]
j5 = [0,2,4,6,8,10,5,7,9,11,12,13,1,3]
j6 = [0,10,5,7,9,11,2,4,6,8,12,13,1,3]
j7 = [0,11,2,4,6,8,10,5,7,9,1,3,12,13]
j8 = [0,1,3,12,13,11,2,4,6,8,10,5,7,9]
j9 = [0,2,4,6,8,10,1,3,12,13,11,7,9,5]
j10 = [0,2,4,6,8,10,1,3,12,13,11,7,0,15]

# New data 
x1 = hypothesis(j1)
x2 = hypothesis(j2)
x3 = hypothesis(j3)
x4 = hypothesis(j4)
x5 = hypothesis(j5)
x6 = hypothesis(j6)
x7 = hypothesis(j7)
x8 = hypothesis(j8)
x9 = hypothesis(j9)
x10 = hypothesis(j10)

j = [j1,j2,j3,j4,j5,j6,j7,j8,j9,j10]
feature_variation = [x1,x2,x3,x4,x5,x6,x7,x8,x9,x10]
score_list = []
mse_list = []

for x in feature_variation:
    score,mse = regression_model (x)
    score_list.append(score)
    mse_list.append(mse)

In [49]:

best_feature = feature_variation [score_list.index(max(score_list))]
best_j = j[score_list.index(max(score_list))]
max_score = max(score_list)
min_mse = -1 * max(mse_list)
print(score_list)
print(mse_list)
print(best_j)
print(max_score)
print(min_mse)

[-20.61653593206965, 0.7064446177638828, -0.3680315422517821, -7.33746221008475, 0.1667966577862097, 0.43675120484951313, -28.009548074964737, -2.9927737082771504, 0.5339690448278543, -0.07155330997267415]
[-1341.1927406190694, -24.03556803695406, -100.92990419961626, -529.1744966076096, -65.55489123709353, -46.122066611071325, -1799.1918896441084, -255.51545735869985, -38.230084792458086, -75.44779287623267]
[0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
0.7064446177638828
24.03556803695406

In [47]:
def get_test_score (x):
    model= LinearRegression()
    model.fit(x,y_train)
    y_pred=model.predict(x_test)
    score = r2_score(y_test,y_pred)
    mse = mean_squared_error(y_test,y_pred)
    return score , mse

In [48]:
score,mse = get_test_score (best_feature)

In [18]:
score

0.6595248720348479

In [19]:
mse

28.838739783063136